.navbar-transparent .navbar-brand, [class*=bg] .navbar-brand {
    opacity: .9;
}

.navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0;
    padding: 5px 15px;
    font-size: 18px;
    text-transform: uppercase;
}